.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0 0 2vh;

}

.App h1 {
  margin:0;
}

.App-header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.App-header .App-logo {
  height:100%;
}

.top {
  height: 100vh;
}

body, html {
  height: 100vh;
}

body {
  background-color: #1e1e1e;
  height:100vh;
  /* color: #fff; */
  font: normal 400 18px "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.question-list p {
  color:#000;
}

.card {
  /*
-webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
animation: cardEnter 0.75s ease-in-out 0.5s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
*/
  width: 90%;
  max-width: 992px;
  padding: 20px 0;
  background: rgba(255,255,255,0.66);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  opacity: 1;
  color: #000;
  line-height: 49px;


}

.card .answer-row {
  display: flex;
  justify-content: space-evenly;
}

.card .answer-row .answer {
  width: calc(100% / 5);
}

.card .answer-row .answer.last {
  background: blue;
  text-align: left;
}

.card .answer-row .answer img {
  width: 100%;
}

/* Radio buttons */
input[type="radio"] {
  font-size: 60px;

}




.feedback-button {
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  /* margin: 0 2% 0 0; */
  padding: 10px 20px;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Syncopate", Helvetica, sans-serif;
  color: #ecf0f1;
  background: linear-gradient(180deg, #3ad832 0, #037b0d 100%);
  background-clip: border-box;
  background-size: auto auto;
}



.feedback-button:active {
  top: 5px;
  background: -webkit-linear-gradient(-90deg, #ff8583 0, #ff5350 100%);
  background: -moz-linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background: linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 5px 0 0 rgba(178, 49, 49, 1);
  box-shadow: 0 5px 0 0 rgba(178, 49, 49, 1);
}

.sName {
  color: rgb(48, 48, 48);
  padding: 5px 10px;
  font-size: 1em;
}


.survey-Answers {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 60px);
}

.survey-Answers h2 {
  font-family:"游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

.survey-Answers .itemList {
  display: flex;
  justify-content: space-evenly;
}

.item img {
  width:100%;
}

.item {
  width:calc(100% / 3);
  padding: 10px 20px;
  background: #eaeabc;
  margin: 10px;
  box-shadow: 1px 3px 22px rgb(50 50 50 / 60%);
}

.item-image {
  position: relative;
}

.item-image:hover .overlay {
  display: block;
  opacity: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  background: rgba(68, 68, 68, 0.66);
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.overlay .description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 0.9em;
  line-height: 1.5em;
}

@media screen and (max-width:768px) {

.survey-Answers {
  height:auto;
}

.item {
  width:50%;
}

.survey-Answers .itemList {
  flex-direction: column;
  align-items: center;
}
}

@media screen and (max-width:500px) {


  
  .item {
    width:75%;
  }
  
  }